.container {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
  height: 300px;
  width: 300px
}

.box {
  border: 1px solid purple;
}

.selected {
  background-color: blueviolet;
}